.messageinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--height-gap-large);
    gap: var(--height-gap-large);
    width: 100%;
    background: var(--primary);
    border-radius: 20px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin-top: auto;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}
.messageinput:hover {
    border: 1px solid var(--accent);
    box-shadow: 0px 0px 0px 5px rgba(182, 240, 156, 0.12),
        0px 25px 50px -12px rgba(182, 240, 156, 0.12),
        0px 8px 10px -6px rgba(182, 240, 156, 0.04);
    border-radius: 20px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 0px;
    gap: 8px;
    background-color: inherit;
    border: none;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.input::placeholder {
    font-size: var(--fz-text);
    color: #363a3d;
}

.paperclip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--neutral);
    width: 48px;
    height: 48px;
    border-radius: 12px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.paperplane {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    background: #1a1d21;
    border-radius: 12px;

    flex: none;
    order: 3;
    flex-grow: 0;
}

@media (max-width: 768px) {
    .messageinput {
        padding: var(--height-gap-small);
        gap: var(--height-gap-small);
    }

    .input {
        height: 30px;
    }
    .input::placeholder {
        font-size: calc(var(--fz-text) - 2px);
        color: #363a3d;
    }

    .paperclip {
        width: 30px;
        height: 30px;
    }
    .paperplane {
        width: 30px;
        height: 30px;
    }
}
