.sidebar {
    display: grid;
    grid-template-rows: 96px auto 1fr 96px;
    align-items: flex-start;
    padding: 0px;
    border-radius: 20px;
    width: 312px;
    flex: none;
    background-color: var(--primary);
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    transition: all 5s ease-in;
}
.sidebar_overlay {
    display: none;
}

.workspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 8px;
    width: 312px;
    height: 96px;
    border-bottom: 1px solid var(--border);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-right: auto;
    width: 135px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.avatar {
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.avatar img {
    border-radius: 20px;
}
.status {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -4px;
    top: -4px;
    background-color: var(--secondary);
    border: 4px solid var(--border);
    border-radius: 10px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 71px;
    height: 46px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.members {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--accent);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.user_icon {
    margin-left: auto;
    width: 16px;
    height: 16px;
    color: var(--neutral);
}

.general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 8px;
    gap: 24px;
    height: 194px;
    border-bottom: 1px solid var(--border);
}

.heading {
    display: flex;
    flex-direction: row;
    padding: 0px 16px;
    gap: 8px;
    width: 296px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: var(--neutral);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 296px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 8px;
    gap: 24px;
    border-bottom: 1px solid var(--border);
    overflow: auto;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
    gap: 24px;

    width: 312px;
    height: 96px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    gap: 16px;

    width: 296px;
    height: 80px;

    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    border-radius: 16px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

@media (max-width: 992px) {
    .sidebar {
        display: grid;
        position: absolute;
        left: -366px;
        top: 24px;
        height: calc(100% - 48px);
        width: 336px;
        z-index: 4;
        background-color: var(--background);
        padding: 12px;
        transition: left 0.3s ease-in-out;
        will-change: left;
    }
    .sidebar_overlay {
        position: fixed;
        display: none;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(6, 7, 8, 0.64);
        backdrop-filter: blur(4px);
    }
    .sidebar_overlay.open_sidebar {
        display: block;
    }

    .sidebar.open_sidebar {
        left: 0;
    }
}
