.topbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 100%;
    height: 184px;

    background: var(--primary);
    border-radius: 20px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.heading {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    gap: 8px;

    width: 100%;
    height: 104px;

    border-bottom: 1px solid var(--border);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    height: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: auto;
}

.project h1 {
    font-weight: 700;
    font-size: clamp(14px, 2vw, 20px);
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--foreground);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.project span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: start;
    letter-spacing: 0.15px;
    color: var(--gray);
    flex: none;
    order: 1;
    flex-grow: 0;
    flex-shrink: 1;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.options {
    margin-left: auto;
}

.avatars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;
    width: 144px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.avatar {
    position: relative;
    width: 32px;
    height: 32px;
    border: 4px solid var(--primary);
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -4px;
}
.avatar img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar:nth-child(1) {
    z-index: 4;
}

.avatar:nth-child(2) {
    z-index: 3;
}

.avatar:nth-child(3) {
    z-index: 2;
}

.avatar:nth-child(4) {
    z-index: 1;
}
.count {
    width: 32px;
    height: 32px;
    background: #1a1d21;
    border: 3px solid #0d0f10;
    border-radius: 12px;
    margin: 0px -4px;
    flex: none;
    order: 4;
    flex-grow: 0;
    z-index: 0;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15px;
    color: var(--gray);
}
.status {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -4px;
    top: -4px;
    background-color: var(--secondary);
    border: 4px solid var(--border);
    border-radius: 10px;
    z-index: 6;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.share {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;

    height: 40px;

    border-radius: 10px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: var(--gray);
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background: #1a1d21;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    gap: 24px;

    width: 100%;
    height: 80px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    height: 100%;

    flex: none;
    order: 0;
    flex-grow: 0;
    list-style: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 0.15px;
    color: var(--secondary-2);
}

.tab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    gap: 12px;
    isolation: isolate;
    width: 115px;
    color: var(--gray);
    cursor: pointer;
}

.tab img {
    transition: all 0.3s ease;
}

.tab.activeTab span {
    color: var(--foreground);
}

.tab.activeTab svg {
    color: var(--accent);
}

.tab.activeTab::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--accent);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 992px) {
    .share {
        background: #1a1d21;
        border-radius: 10px;
    }
    .share span {
        display: none;
    }
}
@media (max-width: 768px) {
    .avatars {
        display: none;
    }
}
