:root {
    --background: #131619;
    --foreground: #ffffff;

    --primary: #0d0f10;
    --neutral: #686b6e;
    --secondary: #4ac97e;
    --secondary-2: #e8e9e9;
    --secondary-3: #cdcecf;
    --gray: #9b9c9e;
    --accent: #b6f09c;
    --border: #131619;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Plus Jakarta Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    padding: 12px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    gap: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 1092px;
    height: 1000px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
