.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;
    width: 1092px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 709px;
    height: 76px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title h1 {
    width: 317px;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: var(--foreground);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title span {
    width: 709px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: var(--gray);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 52px;
    gap: 64px;
    width: 1092px;
    height: 356px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
