.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: var(--height-gap-large);
    width: 100%;
    max-width: 199px;

    flex: none;
    order: 3;
    flex-grow: 1;
    flex-shrink: 1;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: clamp(2px, 2vw, 16px);
    width: 100%;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.heading h2 {
    font-weight: 500;
    font-size: var(--fz-h2);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--foreground);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--height-gap-large);
    width: clamp(25px, 4vw, 48px);
    height: clamp(25px, 4vw, 48px);
    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    filter: drop-shadow(0px 0px 64px rgba(255, 209, 71, 0.16));
    border-radius: 56px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icon img {
    height: 100%;
    object-fit: cover;
}

.list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 1;
}

@media (max-width: 992px) {
    .icon {
        padding: var(--height-gap-small);
    }
}
@media (max-width: 768px) {
    .column {
        gap: var(--height-gap-small);
    }

    .heading {
        gap: var(--height-gap-small);
    }
    .heading,
    .heading h2,
    .list {
        flex-shrink: 1;
    }
}
