.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--height-gap-large);
    gap: 8px;
    width: 100%;
    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    border-radius: 12px;
    color: var(--secondary-3);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 1;
    text-wrap: nowrap;
    font-weight: 500;
    font-size: var(--fz-text);
}

@media (max-width: 1200px) {
    .item {
        text-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .item {
        height: auto;
        padding: var(--height-gap-small) var(--width-gap-small);
    }
}

@media (max-width: 576px) {
    .item {
        flex-shrink: 1;
        padding: var(--height-gap-smaller) var(--width-gap-medium);
    }
}
