/* Burger */

.icon {
    height: 2px;
    width: 18px;
    top: 8px;
    background-color: var(--gray);
    border-radius: 20px;
    position: absolute;
    transition-duration: 0.3s;
    z-index: 100;
}
.icon:before {
    left: 0;
    position: absolute;
    top: -6px;
    height: 2px;
    width: 18px;
    background-color: var(--gray);
    content: "";
    border-radius: 20px;
    transition-duration: 0.3s;
}
.icon:after {
    left: 0;
    position: absolute;
    top: 6px;
    height: 2px;
    width: 18px;
    background-color: var(--gray);
    content: "";
    border-radius: 20px;
    transition-duration: 0.3s;
}

.menu {
    width: 18px;
    height: 18px;
    position: relative;
    transition-duration: 1s;
    display: none;
    cursor: pointer;
    justify-self: flex-end;
    z-index: 4;
    order: 1;
}

.burger .icon {
    transition-duration: 0.3s;
    transition-delay: 0.3s;
}
.burger .icon:after {
    transition: transform 0.3s, top 0.3s 0.3s;
}
.burger .icon:before {
    transition: transform 0.3s, top 0.3s 0.3s;
}

.burger.open .icon {
    transition-duration: 0.1s;
    transition-delay: 0.3s;
    background: transparent;
}

.burger.open .icon:before {
    transition: top 0.3s, transform 0.3s 0.3s;
    top: 0px;
    transform: rotateZ(-45deg);
}

.burger.open .icon:after {
    transition: top 0.3s, transform 0.3s 0.3s;
    top: 0px;
    transform: rotateZ(45deg);
}

@media (max-width: 992px) {
    .menu {
        display: inline-block;
    }
}
