.message {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: flex-start;
    padding: var(--height-gap-large) var(--width-gap-large);
    gap: var(--width-gap-large);
    width: 100%;
    max-width: 100%;
    min-height: 116px;
    overflow: hidden;
    border: 1px solid var(--secondary-4);
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    z-index: 0;
}

.avatar {
    position: relative;
    width: 48px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.online {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -4px;
    top: -4px;
    background-color: var(--secondary);
    border: 4px solid var(--border);
    border-radius: 10px;
}

.messageContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--width-gap-smaller) 0;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.nameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin-right: auto;
    min-height: 24px;
    text-wrap: nowrap;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.name {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--foreground);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.time {
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--neutral);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-weight: 500;
    font-size: var(--fz-text);
    color: var(--gray);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.actionContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    gap: 6px;
    height: 32px;
    background: var(--secondary-4);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;

    font-weight: 500;
    font-size: 12px;

    text-wrap: nowrap;
    color: var(--gray);
}

.actionBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 6px;
    height: 32px;
    background: var(--secondary-4);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    font-weight: 500;
    font-size: 12px;

    text-wrap: nowrap;
    color: var(--gray);
}
.actionContainer:hover,
.actionContainer:hover .actionBtn,
.actionBtn:hover,
.actionBtn:hover .actionContainer {
    background: var(--neutral);
}

.dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px;
    gap: 4px;
    position: absolute;
    width: 232px;
    height: 212px;
    left: 0;
    top: 40px;
    background: var(--primary);
    box-shadow: 0px 25px 50px -12px rgba(6, 7, 8, 0.16),
        0px 8px 10px -6px rgba(6, 7, 8, 0.06);
    border-radius: 16px;
    flex: none;
    order: 6;
    flex-grow: 0;
}

.subActionBtn {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    gap: 8px;
    width: 224px;
    height: 48px;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    align-self: stretch;

    font-weight: 500;
    font-size: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: var(--foreground);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.subActionBtn_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 166px;
    height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 152px;
    overflow: hidden;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    flex-shrink: 1;
}

.optionBtn {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: var(--width-gap-large);
    gap: var(--height-gap-large);
    isolation: isolate;
    max-width: 180px;
    max-height: 152px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    border-radius: 12px;
    border: none;
    flex: none;
    order: 0;
    flex-shrink: 1;
}
.optionBtn_top {
    display: flex;
    align-items: center;
    width: 100%;
    height: clamp(14px, 3vh, 32px);
}
.optionBtn_top img {
    height: 100%;
    aspect-ratio: 1;
    justify-self: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.optionBtn h2 {
    font-weight: 500;
    font-size: var(--fz-h2);
    align-self: flex-start;
    text-align: start;
    white-space: pre-line;

    display: flex;
    align-items: center;

    color: var(--foreground);

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.option_shadow {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 25%;
    top: 25%;
    background: var(--secondary-5);
    opacity: 0.08;
    filter: blur(36px);
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: var(--width-gap-medium);
    width: 100%;
    max-width: 100%;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--width-gap-small) var(--width-gap-medium);
    gap: var(--width-gap-small);
    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    font-size: var(--fz-text);
    text-wrap: nowrap;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    gap: var(--width-gap-large);
    max-height: 300px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.image_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    aspect-ratio: 1;
    flex: none;
    order: 4;
    flex-grow: 0;
    flex-shrink: 1;
}
.image_wrapper img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.imageBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    gap: 12px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 12px;
    top: 12px;
    background: linear-gradient(
        117.58deg,
        rgba(215, 237, 237, 0.16) -47.79%,
        rgba(204, 235, 235, 0) 100%
    );
    box-shadow: 0px 24px 24px -16px rgba(0, 0, 0, 0.12),
        inset 16px 24px 64px -24px rgba(255, 255, 255, 0.08),
        inset 0px 8px 12px rgba(255, 255, 255, 0.08);
    border-radius: 12px;
}

.systemMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 48px;
    flex: none;
    flex-grow: 0;
}
.systemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 16px;
    height: 48px;
    background: var(--primary);
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;

    font-weight: 500;
    font-size: 12px;

    color: var(--neutral);
}

.systemBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 126px;
    height: 32px;
    border: none;
    background: inherit;
    border-radius: 8px;

    flex: none;
    order: 1;
    flex-grow: 0;

    font-weight: 500;
    font-size: 12px;

    color: var(--neutral);
}

@media (max-width: 768px) {
    .message {
        grid-template-columns: clamp(24px, 4vw, 32px) 1fr;
        padding: var(--height-gap-medium) var(--width-gap-medium);
        gap: var(--width-gap-medium);
    }
    .avatar {
        width: clamp(24px, 4vw, 32px);
        height: clamp(24px, 4vw, 32px);
        flex-shrink: 1;
    }
    .online {
        width: 10px;
        height: 10px;
        border: 3px solid var(--border);
    }
    .messageContent {
        gap: var(--height-gap-small);
    }
    .header {
        gap: var(--height-gap-small);
    }

    .nameContainer {
        gap: var(--width-gap-small);
        min-height: unset;
    }
    .name {
        font-size: var(--fz-h2);
    }
    .time {
        font-weight: 500;
        font-size: calc(var(--fz-text) - 2px);
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--neutral);
        flex: none;
        order: 1;
        flex-grow: 0;
    }
    .text {
        font-weight: 300;
    }
    .actions {
        gap: var(--width-gap-small);
        height: auto;
    }

    .actionContainer {
        padding: 0 0;
        gap: 6px;
        height: auto;
        font-weight: 400;
        font-size: var(--fz-text);
    }

    .actionBtn {
        padding: var(--height-gap-smaller) var(--width-gap-small);
        height: auto;
        font-weight: 400;
        font-size: var(--fz-text);
    }
    .options {
        grid-template-columns: repeat(4, 1fr);
        padding: 0px;
        gap: var(--height-gap-small) var(--width-gap-small);
        max-height: unset;
    }

    .optionBtn {
        align-items: flex-start;
        gap: 0;
    }
    .tags {
        gap: var(--width-gap-small);
    }
    .imageBtn {
        padding: var(--height-gap-smaller) var(--width-gap-small);
        gap: 12px;
        width: 32px;
        height: 32px;
        right: 6%;
        top: 6%;
        border-radius: 12px;
    }
    .systemMessage {
        width: auto;
        max-width: 100%;
        height: auto;
        flex-wrap: wrap;
        flex-shrink: 1;
    }
    .systemContainer {
        padding: var(--height-gap-smaller) var(--width-gap-small);
        gap: var(--width-gap-small);
        width: auto;
        height: auto;
        font-weight: 400;
        font-size: var(--fz-text);
        flex-shrink: 1;
    }

    .systemBtn {
        width: auto;
        height: auto;
        font-weight: 400;
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .message {
        grid-template-columns: clamp(24px, 4vw, 32px) 1fr;
        padding: var(--height-gap-small) var(--width-gap-small);
        gap: var(--width-gap-small);
    }
    .options {
        grid-template-columns: repeat(3, 1fr);
    }
    .optionBtn {
        font-size: var(--fz-text);
        padding: var(--width-gap-small);
    }
    .optionBtn h2 {
        font-size: var(--fz-text);
    }
    .imageBtn {
        width: 25px;
        height: 25px;
    }
}
@media (max-width: 414px) {
    .message {
        padding: var(--height-gap-small) var(--width-gap-smaller);
        gap: var(--width-gap-small);
    }
    .online {
        width: 8px;
        height: 8px;
        border: 2px solid var(--border);
    }
    .optionBtn {
        padding: var(--width-gap-small);
    }
}
